.container{
    height: 100%;
    max-width: 900px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 5px;
    padding: 10px;
}