

@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900");
body {
  scrollbar-width: 10px;

  font-family: "Tajawal", sans-serif;
}
@font-face {
  font-family: 'Public Sans';
  src: local('Public Sans'), url(./fonts/PublicSans-Regular.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
.inventroy-nav{
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
.nav{
  /* color: white !important; */
  text-decoration: none !important;
  font-size: large;
  font-weight: bold;
}
.nav .active{
  /* color: white; */
}

.app-container{
  /* overflow: hidden; */
  max-width: 95%;
  margin: auto;
  /* height: 100vh; */
}

.refresh{
  position: absolute !important;
}
.container{

}
.group{
  flex-wrap: wrap;
    display: flex;
    gap: 5px;
}

.MuiPaper-root{

/* background-color: #ffffffbb!important; */
}
a.active{
  font-weight: bolder;
  border-bottom: 1px solid lightblue;
}
.active {
  /* color: white!important; */
  /* color: white!important; */
  /* padding: 8px; */
  /* background-color: #1976d2!important; */
}

.MuiDialog-paper{
  /* background-color: white!important; */
}

td{
  color: black;
    font-size: 1rem!important;
    font-weight: 500!important;
}
.patient-no{
  color: white!important;
  margin-left: 4px!important;
  background-color: burlywood!important;
  /* padding: 5px!important; */
  width: 40px!important;
}