@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900");

body {

  font-family: "Almarai", sans-serif;

}
@font-face {
  font-family: 'Public Sans';
  src: local('Public Sans'), url(./fonts/PublicSans-Regular.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
.inventroy-nav{
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
 .heading{

    border: 1px solid grey;
    padding: 5px 10px;
    border-radius: 4px; 
 }
.nav{

  /* color: white !important; */
  text-decoration: none !important;
  font-size: large;
  font-weight: bold;
}
.nav .active{
  /* color: white; */
}

.app-container{
  /* overflow: hidden; */
  max-width: 95%;
  margin: auto;
  /* height: 100vh; */
}

.refresh{
  position: absolute !important;
}
.container{

}
.group{
  flex-wrap: wrap;
    display: flex;
    gap: 5px;
}

.MuiPaper-root{

/* background-color: #ffffffbb!important; */
}
a.active{
  font-weight: bolder;
  border-bottom: 1px solid lightblue;
}
.active {
  /* color: white!important; */
  /* color: white!important; */
  /* padding: 8px; */
  /* background-color: #1976d2!important; */
}

.MuiDialog-paper{
  /* background-color: white!important; */
}

td{
    font-size: 1rem!important;
    font-weight: 500!important;
}
.patient-no{
  margin-left: 4px!important;
  background-color: burlywood!important;
  /* padding: 5px!important; */
  width: 40px!important;
  font-size: 17px!important;
    font-weight: bold!important;
    color: black!important;
}


@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --clr-1: #052b2f;
  --clr-2: #073438;
  --clr-3: white;
  --clr-4: #2d8f85;
  --clr-5: #637c54;
}

body {
  background: var(--clr-2);
  color: var(--clr-1);
}

.effect {
  /* aspect-ratio: 1 / 1.5; */
  background: var(--clr-1);
  border-radius: 0.2rem;

  position: relative;
}
.logo{
  
  border-radius: 8px;
  box-shadow: 2px 5px 9px #14272d;
  width: 544px;
  padding: 5px;
  background-color: #003b4f;
}
.effect::before,
.effect::after {
  content: "";
  position: absolute;
  inset: -0.1rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-4),
    var(--clr-3)
  );
  border-radius: inherit;
  animation: rotation 3s linear infinite;
}
/* .white tbody td {
  color: white !important;
} */
.effect::after {
  filter: blur(3.5rem);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

/* .muirtl-1cnhgfl-MuiAutocomplete-root .MuiAutocomplete-tag {
  background-color: aliceblue
} */